ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
</style>
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

h2 {
background-color:white;
margin-top:0px;
text-align:center;
}
body {
	background-image: url("https://otrazhenie.files.wordpress.com/2013/12/hell.jpg");
  background-size:cover;
}
h1 {
	text-align: center;
	background-color: red;
  border-color: black;
  border-style:solid;
	margin-top: 250px;
	font-family: TimesNewRoman;
}
img {
  padding:14px;
  float:left;
  width:250px;
  border-color:red;
  border-style:solid;
  border-width:2px;
  text-align: center;
}
