body {
	background-image: url("https://otrazhenie.files.wordpress.com/2013/12/hell.jpg");
}
h1 {
	text-align: center;
	background-color: red;
  border-color: black;
  border-style:solid;
	margin-top: 250px;
	font-family: TimesNewRoman;
}
